
			<center><h3>Doctor List</h3></center>

<table cellpadding="5" cellspacing="5" align="center" ng-repeat="doctor_list in doctors_lists">
		<tr>
			<td colspan="2"><hr></td>
		</tr>
		<tr>
			<td>Name</td>
			<td>{{doctor_list.name}}</td>
		</tr>

		<tr>
			<td>Contact Email</td>
			<td>{{doctor_list.email}}</td>
		</tr>

		<tr>
			<td>Address</td>
			<td>{{doctor_list.city}}</td>
		</tr>

		<tr>
			<td>City</td>
			<td>{{doctor_list.city}}  ({{doctor_list.state}})</td>
		</tr>

		<tr>
			<td>Mobile Number</td>
			<td>{{doctor_list.mobile}}</td>
		</tr>

</table>