<form ng-submit="updateRec" name="myForm"> 
	
	<table align="center" cellpadding="5" cellspacing="5">
		<tr>	
			<td colspan="2"><center><h2><b>Edit Profile</b></h2></center> </td>
		</tr>

		<tr>	
			<td colspan="2"><hr></td>
		</tr>

		<tr>	
			<td width="200"><b>Name</b></td>
			<td>
				<input type="text" ng-model="patient_record.name" name="namechk" required/>
				<p ng-show="myForm.namechk.$invalid" >Name is required.</p>
			</td>	
		</tr>
		
		<tr>
			<td><b>Email</b></td>
			<td>
				<input type="text" ng-model="patient_record.email" name="email" required/>
				<p ng-show="myForm.email.$invalid">Email is required.</p>
			</td>	
		</tr>

		<tr>
			<td><b>Gender</b></td>
			<td>
				<input type="text" ng-model="patient_record.gender" name="gender" required/>
			</td>	
		</tr>

		<tr>
			<td><b>Date Of Birth</b></td>
			<td>
				<input type="text" ng-model="patient_record.dob" name="dob" required/>
				<p ng-show="myForm.dob.$invalid">DOB is required.</p>	
			</td>	
		</tr>

		<tr>
			<td><b>Mobile</b></td>
			<td>
				<input type="text" ng-model="patient_record.mobile" name="mobile" required/>
				<p ng-show="myForm.mobile.$invalid">Mobile is Required</p>

			</td>	
		</tr>

		<tr>
			<td><b>Alternate Mobile</b></td>
			<td>
				<input type="text" ng-model="patient_record.alternate_mobile" name="alternate_mobile" required/>
			</td>	
		</tr>

		<tr>
			<td><b>Address</b></td>
			<td>
				<input type="text" ng-model="patient_record.address" name="address" required/>
				<p ng-show="myForm.address.$invalid">Address is Required</p>					
			</td>	
		</tr>

		<tr>
			<td><b>Locality</b></td>
			<td>
				<input type="text" ng-model="patient_record.locality" name="locality" required/>
				<p ng-show="myForm.locality.$invalid">Locality is Required</p>	
			</td>	
		</tr>

		<tr>
			<td><b>City</b></td>
			<td>
				<input type="text" ng-model="patient_record.city" name="city" required/>
				<p ng-show="myForm.city.$invalid">city is Required</p>	
			</td>	
		</tr>

		<tr>
			<td><b>State</td>
			<td>
				<input type="text" ng-model="patient_record.state" name="state" required/>
				<p ng-show="myForm.state.$invalid">State is Required</p>	
			</td>	
		</tr>
		
		<tr>
			<td><b>Country</b></td>
			<td>
				<input type="text" ng-model="patient_record.country" name="country" required/>
				<p ng-show="myForm.country.$invalid">country is Required</p>	
			</td>	
		</tr>

		<tr>
			<td><b>Pincode</b></td>
			<td>
				<input type="text" ng-model="patient_record.pincode" name="pincode" required/> 
				<p ng-show="myForm.pincode.$invalid">Pincode is Required</p>	
			</td>	
		</tr>

		
		<tr>	
			<td colspan="2"><hr></td>
		</tr>

		<tr>
			<td></td>
			<td>
				<input type="submit" value="Update Profile" ng-click="updatePatientRec(patient_record)"/>
			</td>
		</tr>


	</table>
</form>
