<div class="col-md-4"></div>
<div class="panel panel-primary col-md-4">
	
	<table align="center" cellpadding="5" cellspacing="5" class="table">
		<tr>	
			<td colspan="2"><center><h2><b>Profile</b></h2></center></td>
		</tr>

		<tr>	
			<td width="200"><b>Name</b></td>
			<td>
				{{patient.name}} 
			</td>	
		</tr>
		
		<tr>
			<td><b>Email</b></td>
			<td>
				{{patient.email}}
			</td>	
		</tr>

		<tr>
			<td><b>Gender</b></td>
			<td>
				{{patient.gender}}
			</td>	
		</tr>

		<tr>
			<td><b>Date Of Birth</b></td>
			<td>
				{{patient.dob}}
			</td>	
		</tr>

		<tr>
			<td><b>Mobile</b></td>
			<td>
				{{patient.mobile}}
			</td>	
		</tr>

		<tr>
			<td><b>Alternate Mobile</b></td>
			<td>
				{{patient.alternate_mobile}}
			</td>	
		</tr>

		<tr>
			<td><b>Address</b></td>
			<td>
				{{patient.address}}
			</td>	
		</tr>

		<tr>
			<td><b>City</b></td>
			<td>
				{{patient.city}}
			</td>	
		</tr>

		<tr>
			<td><b>State </b></td>
			<td>
				{{patient.state}}
			</td>	
		</tr>
		
		<tr>
			<td><b>Country</b> </td>
			<td>
				{{patient.country}}
			</td>	
		</tr>

		<tr>
			<td><b>Pincode</b> </td>
			<td>
				{{patient.pincode}}
			</td>	
		</tr>
		
		<tr>
			<td></td>
			<td>
				<a href="/patients/{{patient.id}}/edit">Edit Profile</a> <br><br>
			</td>
		</tr>
	</table>

</div>
<div class="col-md-4"></div>
