<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8"><br>
		<table class="table table-hover">
			<tr>
				<th><font size="5">Name</font></th>
				<th><font size="5">Comments</font></th>
			</tr>
		
			<tr ng-repeat="feedback in feedbacks">
				<td><b>{{feedback.patient.name}}</b></td>
				<td>{{feedback.content}} </td>
			</tr>
		
			<tr ng-if="feedbacks == ''">
				<td colspan="2"><font color="red">No Feedback Yet</font></td>
			</tr>	
			
		</table>
	<div>
	<div class="col-md-2">
	   
  </div>
</div>



        
