
<center><h3><b>Doctor's</b></h3></center><br>

<div  class="panel panel-primary">

	<table cellpadding="8" cellspacing="8" align="center">
		<tr>
			<td colspan="5"><hr></td>
		</tr>

		<tr>
			<th class="headwidth">Name</th>
			<th class="headwidth">Speciality</th>
			<th class="headwidth">Charges (In Rs.)</th>
			<th class="headwidth">Actions</th>
		</tr>

		<tr>
			<td colspan="5"><hr></td>
		</tr>

		<tr ng-repeat="doctor in doctors" height="60">
			<td><a href="/doctors/{{doctor.id}}"><font color="red">Dr. {{doctor.name}}</font></a></td>
			
			<td>
				<div ng-if="doctor.professions == ''"><font color="red">N/A</font></div>
				<div ng-repeat="profession in doctor.professions"> 
					<span>{{profession.speciality}}</span>
				</div>
			</td>
			<td>
				<div ng-if="doctor.professions == ''"><font color="red">N/A</font></div>
				<div ng-repeat="profession in doctor.professions"> 
					<span>{{profession.fee | currency:'&#8377;'}}</span>
				</div>
			</td>

				<td><a href="" ng-click="showBox($index)" ng-if="doctor.professions != ''"><font color="red">Take Appointment</font></a></td>
		
			<td ng-hide="true" ng-show="showBox[$index]">
				<form name="confirmForm" ng-submit="takeAppointment(doctor.id, patient_date)">
					
					<input type="text" required="" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-start-date="1d" data-date-end-date="+3m" name="patient_date" placeholder="Prefer Date" ng-model="patient_date" ng-hide="message.appointment"/>
					
					<button ng-hide="message.appointment" type="submit">Confirm</button>

					<p>{{message.appointment}}</p>
				</form>
			</td>
		</tr>
		
		<tr>
			<td colspan="5"><hr></td>
		</tr>
	</table> 
</div>

