body
{
	background-image: url(back.jpg);
	background-repeat:repeat;
	height: 100vh;
	color: #1a1a1a;
}

.content
{
	position: relative;
	overflow: auto;
	margin: 15px 10px 100px 10px;
	background-color: whitesmoke;
	border-radius: 10px;
}

.content .sub-content
{
	position: relative;
	padding: 10px 25px 50px 25px;
	height: auto;
}

<!-- Header -->

.header
{
	position: relative;
}

.header ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
    background-color: whitesmoke;
}

.header ul li 
{
	float: left;
}

.header li a {
    display: block;
    border-radius: 20px;
    letter-spacing: 2px;
    color: black;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
}

.header li a:hover{
    background-color: lightgrey; 
}

.active {
	background-color: #99ccff;
}

#error_explanation
{
	display: block;
	color: red;
}

#error_explanation ul
{
	list-style-type: none;
}

.alert
{
	display: none;
	background-color: #f2dede;
  color: #b94a48;
  margin: 15px 10px 10px 10px;
	font-size: 120%;
	border-radius: 10px;
}

.notice 
{
	background-color: lightgreen;
	margin: 15px 10px 10px 10px;
	font-size: 110%;
	border-radius: 10px;
}

.danger
{
  background-color: #f2dede;
  color: red;
  margin: 15px 10px 10px 10px;
  font-size: 120%;
  border-radius: 10px;
}