<center><h3>New Requests</h3></center><br>

<div class="panel panel-primary">
	<div ng-if="appointmentsFor == 'Patient'">
		<ng-include src="'angular/templates/appointments/shared/patient_index.html'">
		</ng-include>
	</div>

	<div ng-if="appointmentsFor == 'Doctor'">
		<ng-include src="'angular/templates/appointments/shared/doctor_index.html'">
		</ng-include>
	</div>

	<table ng-show="appointments.length == 0" align="center">
		<tr>
			<td colspan="7"><font color="red">No Record Found</font></td>
		</tr>
	</table>
</div>
